{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "overrides": [
    {
      "files": [
        "./**/vite.config.{js,ts}",
        "./**/vite/*.{js,ts}",
        "./**/scripts/**/*.js"
      ],
      "rules": {
        "@typescript-eslint/no-var-requires": 0
      },
      "env": {
        "node": true
      }
    },
    {
      "files": ["./packages/site/src/utils/stackblitz/template/**"],
      "rules": {
        "@typescript-eslint/no-non-null-assertion": 0
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["solid"],
  "rules": {
    "import/extensions": ["error", "always"],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/ban-types": "off"
  }
}
